<h1>Step 3: Select a Species</h1>

<div [class.bg-success]="currentSpecies === selectedSpecies" *ngFor="let currentSpecies of species">
  <h3>{{currentSpecies.name}}</h3>

  <div class="row">
    <div class="col-lg-2 text-center">
      <div class="row">
        <div class="col-lg-12">{{currentSpecies.brawn}}</div>
        <div class="col-lg-12">Brawn</div>
      </div>
    </div>
    <div class="col-lg-2 text-center">
      <div class="row">
        <div class="col-lg-12">{{currentSpecies.agility}}</div>
        <div class="col-lg-12">Agility</div>
      </div>
    </div>
    <div class="col-lg-2 text-center">
      <div class="row">
        <div class="col-lg-12">{{currentSpecies.intellect}}</div>
        <div class="col-lg-12">Intellect</div>
      </div>
    </div>
    <div class="col-lg-2 text-center">
      <div class="row">
        <div class="col-lg-12">{{currentSpecies.cunning}}</div>
        <div class="col-lg-12">Cunning</div>
      </div>
    </div>
    <div class="col-lg-2 text-center">
      <div class="row">
        <div class="col-lg-12">{{currentSpecies.willpower}}</div>
        <div class="col-lg-12">Willpower</div>
      </div>
    </div>
    <div class="col-lg-2 text-center">
      <div class="row">
        <div class="col-lg-12">{{currentSpecies.presence}}</div>
        <div class="col-lg-12">Presence</div>
      </div>
    </div>
  </div>

  <div class="row">
    <p>
      <strong>Wound Threshold:</strong> 10 + Brawn<br/>
      <strong>Strain Threshold:</strong> 13 + Willpower<br/>
      <strong>Starting Experience:</strong> {{currentSpecies.exp_starting}} XP
    </p>

    <button class="btn btn-success pull-right" (click)="selectSpecies(currentSpecies)">Select</button>
  </div>
</div>

<div class="row">
  <button class="btn btn-danger pull-right" (click)="saveCharacter()">Next</button>
</div>
